name: Build DFPS
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          wget -q https://dl.google.com/android/repository/android-ndk-r25b-linux.zip
          unzip -q android-ndk-r25b-linux.zip
          export ANDROID_NDK=$(pwd)/android-ndk-r25b
          chmod +x build.sh
          ./build.sh Release "make pack"
      - uses: actions/upload-artifact@v4
        with:
          name: dfps-module
          path: build/package/dfps-magisk.zip
